@font-face{
font-family: 'AllerRegular';
src: url('fonts/Aller_Rg.ttf');
src: url('fonts/Aller_Rg.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face{
font-family: 'AllerBold';
src: url('fonts/Aller_Bd.ttf');
src: url('fonts/Aller_Bd.ttf') format('truetype');
font-weight: bold;
font-style: normal;
}
@font-face{
font-family: 'AllerItalic';
src: url('fonts/Aller_It.ttf');
src: url('fonts/Aller_It.ttf') format('truetype');
font-weight: normal;
font-style: italic;
}
@font-face{
font-family: 'AllerLight';
src: url('fonts/Aller_Lt.ttf');
src: url('fonts/Aller_Lt.ttf') format('truetype');
font-weight: lighter;
font-style: normal;
}
@font-face {
	font-family: "Scada";
  src: url("fonts/@font-face/"); /* IE9*/
  src: url("fonts/@font-face/?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("fonts/@font-face/7a407d560d9fe0f186896738c75f7a56.woff2") format("woff2"), /* chrome、firefox */
  url("fonts/@font-face/7a407d560d9fe0f186896738c75f7a56.woff") format("woff"), /* chrome、firefox */
  url("fonts/@font-face/7a407d560d9fe0f186896738c75f7a56.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("fonts/@font-face/7a407d560d9fe0f186896738c75f7a56.svg#Scada") format("svg"); /* iOS 4.1- */
  font-weight: medium;
	font-style: normal;
}

