body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	min-width: 970px;
}
header {
	background-color: #242424;
}
main {
	background-color: #ebe7df;
}
.nav {
	display: flex;
	justify-content: space-between;
	background-color: #fff;
	height: 60px;
}
.wrapper {
	max-width: 970px;
	height: 100%;
	margin: 0 auto;
	padding: 0 15px;
	/*border:1px red dashed;/*temp*/
}
.wrapper3 {
	padding-bottom: 45px;
	border-bottom: 1px solid #bcb5a7;
}
.header_main {
	height: 45px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header_sl {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.header_logo {
	font-family: "Scada";
	color: #57c5a0;
	font-size: 26px;
	text-transform: uppercase;
	font-weight: 500;
	line-height: 25px;
	letter-spacing: -0.65px;
}
.header_login {
	width: 140px;
	height: 45px;
	color: #7e7e7e;
	font-size: 11px;
	box-shadow: 1px 0 0 rgba(255, 255, 255, 0.35), inset 1px 0 0 rgba(255, 255, 255, 0.35);
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header_search {
	margin-right: 20px;
}
.header_login a {
	text-decoration: none;
	color: #7e7e7e;
	font-family: "AllerRegular";
	font-size: 11px;
	font-weight: 400;
}

.uptext {
	text-transform: uppercase;
}
.header_login_text,
.header_register_text {
	color: #7e7e7e;
	font-family: "AllerRegular";
	font-size: 11px;
	font-weight: 400;
	line-height: 1.1;
}
.header_login_text {
	padding-left: 23px;
}
.header_register_text {
	padding-right: 24px;
}
.menu {
	display: flex;
	/*border: 1px dashed blue;/*temp*/
	justify-content: flex-start;
	flex-wrap: nowrap;
}
.menu a {
	/*border: 1px dashed blue;/*temp*/
	padding: 0 20px;
	color: #242424;
	font-family: "AllerRegular";
	font-size: 16px;
	text-decoration: none;
}
.menu li {
	display: flex;
	align-items: center;
}
.menu li:last-child {
	box-shadow: 1px 0 0 rgba(80, 79, 79, 0.49), inset 1px 0 0 rgba(80, 79, 79, 0.35);
}
.menu li {
	box-shadow: inset 1px 0 0 rgba(80, 79, 79, 0.35);
	list-style: none;
	height: 100%;
}

.starbaks {
	display: flex;
}
.starbaks img {
	margin-right: 5px;
}
.nav_stars {
	border-right: 1px solid rgba(80, 79, 79, 0.35);
	border-left: 1px solid rgba(80, 79, 79, 0.35);
}
.basket {
	border-right: 1px solid rgba(80, 79, 79, 0.35);
}
.nav_stars {
	width: 90px;
	/*border: 1px dashed yellow;/*temp*/
	display: flex;
	align-items: center;
	justify-content: center;
}
.basket {
	width: 90px;
	/*border: 1px dashed yellow;/*temp*/
	display: flex;
	align-items: center;
	justify-content: center;
}
.stars_counter {
	background-color: #adadad;
	border-radius: 2px;
	font-family: "AllerBold";
	font-size: 12px;
	/*padding: 2px 2px 2px 2px;*/
	color: #fff;
	width: 18px;
	height: 18px;
}
.star,
.stars_counter,
.basket_img,
.basket_counter {
	display: flex;
	justify-content: center;
	align-items: center;
}
.basket_counter {
	background-color: #57c5a0;
	border-radius: 2px;
	font-family: "AllerBold";
	font-size: 12px;
	/*padding: 2px 2px 2px 2px;*/
	color: #fff;
	width: 18px;
	height: 18px;
}
section.slider {
	background-color: #eeede9;
}
.mainslider {
	display: flex;
	/* border: #57c5a0 1px dashed; */
	justify-content: flex-start;
}
.mainslider_content_price {
	width: 68px;
	height: 14px;
	background-color: #57c5a0;
	color: #fff;
	font-family: "AllerBold";
	font-size: 14px;
	text-align: center;
	padding: 27px 0;
	margin-bottom: 20px;
}
.img {
	width: 495px;
	z-index: 1;
}
.img img {
	position: relative;
	left: -210px;
}

.mainslider_content {
	/* border: #57c5a0 1px dashed; */
	z-index: 2;
	background-color: #eeede9;
	padding-top: 70px;
}
.mainslider_content h2 {
	margin: 0;
	font-family: "AllerLight";
	font-size: 40px;
}
.mainslider_content p {
	font-family: "AllerLight";
	font-size: 20px;
	margin: 0;
	margin-top: 20px;
	margin-bottom: 15px;
}
.mainslider_content_buttons {
	display: flex;
}
.item {
	width: 40px;
	height: 40px;
	background-color: rgb(202, 196, 196);
	margin-right: 2px;
	position: relative;
}
.item img {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	max-width: 100%;
	max-height: 100%;
	z-index: 1;
}
.control,
.control_models {
	background-color: #2e2e2e;
}
.control_selector {
	widows: 960px;
	height: 10px;
	background-color: #0c0c0c;
	display: flex;
}
.control_selector > div {
	width: 20%;
}
.item_control1 {
	border: 2px solid #0c0c0c;
	border-right: 4px solid #0c0c0c;
	border-left: 6px solid #0c0c0c;
	background-color: #57c5a0;
	width: 20%;
	box-shadow: 3px 0 0 -1.2px rgb(18%, 18%, 18%, 1);
	z-index: 5;
}
.item_control2 {
	border: 2px solid #0c0c0c;
	border-right: 4px solid #0c0c0c;
	border-left: 6px solid #0c0c0c;
	background-color: none;
	width: 20%;
	box-shadow: 3px 0 0 -1.2px rgb(18%, 18%, 18%, 1);
	z-index: 4;
}
.item_control3 {
	border: 2px solid #0c0c0c;
	border-right: 4px solid #0c0c0c;
	border-left: 6px solid #0c0c0c;
	background-color: none;
	width: 20%;
	box-shadow: 3px 0 0 -1.2px rgb(18%, 18%, 18%, 1);
	z-index: 3;
}
.item_control4 {
	border: 2px solid #0c0c0c;
	border-right: 4px solid #0c0c0c;
	border-left: 6px solid #0c0c0c;
	background-color: none;
	width: 20%;
	box-shadow: 3px 0 0 -1.2px rgb(18%, 18%, 18%, 1);
	z-index: 2;
}
.item_control5 {
	border: 2px solid #0c0c0c;
	border-right: 4px solid #0c0c0c;
	border-left: 6px solid #0c0c0c;
	background-color: none;
	width: 20%;
}
.control_models {
	display: flex;
	justify-content: space-between;
}
.control_model1 {
	color: #ffffff;
	font-family: "AllerRegular";
	font-size: 18px;
	letter-spacing: 0.45px;
	width: 20%;
	text-align: center;
	padding: 15px 0 25px 0;
}
.control_model2,
.control_model3,
.control_model4,
.control_model5 {
	color: #adadad;
	font-family: "AllerRegular";
	font-size: 18px;
	letter-spacing: 0.45px;
	width: 20%;
	text-align: center;
	padding: 15px 0 25px 0;
}
span.la {
	color: #adadad;
	font-family: "AllerRegular";
	font-size: 12px;
	letter-spacing: 0.3px;
}
.offers {
	background-color: #242424;
}
.mainoffers {
	height: 230px;
	display: flex;
	justify-content: space-between;
}
.offer1,
.offer2,
.offer3 {
	margin: 25px 20px;
	margin-left: 0;
}
.offer1,
.offer2,
.offer3 {
	width: 300px;
	height: 180px;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
}
.offer1 {
	background-image: url(img/Img1.png);
}
.offer2 {
	background-image: url(img/Img2.png);
}
.offer3 {
	background-image: url(img/Img3.png);
}
.mainoffers p {
	color: #ffffff;
	font-family: "AllerLight";
	font-size: 25px;
	text-transform: uppercase;
	margin: auto;
	padding: 20px 25px;
	background-color: #242424;
	opacity: 0.7;
}
.mainitem1,
.mainitem2,
.mainitem3,
.mainitem4,
.mainitem5,
.mainitem6 {
	width: 300px;
	height: 270px;
	background-color: #fff;
	/* border: dashed 1px palevioletred;  */
}
.mainitem1,
.mainitem2,
.mainitem4,
.mainitem5 {
	margin-right: 18px;
}
.mainitem2,
.mainitem6 {
	position: relative;
}
.maincontent,
.coast {
	display: flex;
	font-family: "AllerRegular";
	font-size: 18px;
	letter-spacing: 0.45px;
	color: #242424;
	/* border: dashed 1px palevioletred;  */
}
.coast {
	border-top: 1px solid grey;
	align-items: flex-start;
	padding-left: 12px;
	position: relative;
}
p.coast_p {
	font-family: "AllerBold";
	font-size: 13px;
	color: #fff;
	background-color: #57c5a0;
	padding: 25px 5px;
	margin-right: 13px;
	position: relative;
	bottom: 33px;
}
p.coast_p:hover {
	font-family: "AllerBold";
	font-size: 13px;
	color: #fff;
	background-color: #57c5a0;
	padding: 25px 5px;
	margin-right: 13px;
	bottom: 32px;
	box-shadow: 0 0 10px rgba(87, 197, 160, 1);
}
.maintitle {
	display: flex;
	margin-top: 0px;
	justify-content: space-between;
	/* border: dashed 1px palevioletred; */
	padding: 30px 0px;
}
div.mainheader {
	font-family: "AllerLight";
	font-size: 25px;
	color: #242424;
	/* border: dashed 1px palevioletred; */
}
.showbtn {
	/* border: dashed 1px palevioletred; */
	border: 1px solid #bcb5a7;
	background-color: #ebe7df;
}
.showbtn a {
	display: block;
	text-decoration: none;
	font-family: "AllerBold";
	font-size: 14px;
	color: #bcb5a7;
	margin: 9px 19px 9px 22px;
}
.mcb {
	position: relative;
	top: 5px;
	right: 0px;
	bottom: 0px;
	left: -90px;
	background-color: #fff;
	visibility: hidden;
	z-index: 10;
}
/****************************Р В Р’В Р Р†Р вЂљРІвЂћСћР В Р’В Р Р†Р вЂљРЎС›Р В Р’В Р вЂ™Р’В Р В Р’В Р РЋРЎС™Р В Р’В Р В РІвЂљВ¬Р В Р’В Р РЋРЎвЂєР В Р’В Р вЂ™Р’В¬Р В Р’В Р В Р вЂ№Р В Р’В Р В РІР‚РЋ Р В Р’В Р РЋРІвЂћСћ Р В Р’В Р вЂ™Р’В­Р В Р’В Р РЋРЎвЂєР В Р’В Р РЋРІР‚С”Р В Р’В Р РЋРЎв„ўР В Р’В Р В РІвЂљВ¬ Р В Р’В Р РЋРЎв„ўР В Р’В Р РЋРІР‚С”Р В Р’В Р РЋРЎв„ўР В Р’В Р Р†Р вЂљРЎС›Р В Р’В Р РЋРЎС™Р В Р’В Р РЋРЎвЂєР В Р’В Р В РІвЂљВ¬**********************************/
/* .mcb:hover{
	position: relative;
	top:6px;
	right:0;
	bottom: 0;
	left: 88px;
	background-color: #fff;
	visibility: visible;
	z-index: 99;
}  */
.mcb > div {
	margin-right: 10px;
	background-color: #fff;
}
.conditions {
	display: flex;
	justify-content: space-between;
	padding-top: 25px;
}
.sheeping {
	flex: 1;
	background-color: #dfdbd4;
	margin-right: 20px;
}
.testimonials {
	flex: 1;
	background-color: #dfdbd4;
	margin-right: 20px;
}
.news {
	flex: 2;
	background-color: #dfdbd4;
}
.addon {
	background-color: #ebe7df;
}
.conditions h2 {
	font-family: "AllerBold";
	font-size: 14px;
	color: #242424;
	text-transform: uppercase;
}
.conditions {
	font-family: "AllerRegular";
	font-size: 12px;
	color: #242424;
	padding-bottom: 23px;
}
p.date {
	font-family: "AllerBold";
	font-size: 10px;
	color: #fff;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	text-align: center;
	margin-top: 5px;
}
.wrapnews {
	display: flex;
	margin-bottom: 10px;
}
div.newstext {
	margin-left: 10px;
}
.newstext p {
	margin: 0;
	padding: 0;
}
.newstext + p {
	font-family: "AllerBold";
	font-size: 14px;
}
.datecenter {
	width: 36px;
	height: 36px;
	background-color: #57c5a0;
}
.sheeping,
.testimonials,
.news {
	padding: 25px 10px;
}
.widgets {
	padding-top: 51px;
	border-bottom: #0c0c0c 1px solid;
	padding-bottom: 40px;
}
.widgetwrap {
	display: flex;
	font-family: "AllerItalic";
	font-size: 12px;
	color: #a4a4a4;
}
.widgetwrap span {
	color: #57c5a0;
}
.widgetheader {
	font-family: "AllerRegular";
	font-size: 14px;
	color: #7d7d7d;
	text-transform: uppercase;
}
.textwidget,
.twitwidget,
.flickerwidget {
	flex: 1;
	margin-right: 55px;
}
.flickerwidget {
	margin-right: 0;
}
.flickerwidget > div > img {
	width: 100%;
}
.textwidget,
.twitwidget {
	margin-right: 55px;
}
.search {
	background-color: #242424;
}
.search_social {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.search_form {
	width: 100%;
	/* Ширина поля с кнопкой */
	/*border: 1px solid #000;*/
	/* Параметры рамки */
	min-height: 20px;
	/* Минимальная высота */
	display: flex;
}

input[type="search"] {
	border: none;
	/* Убираем рамку */
	outline: none;
	/* Убираем свечение в Chrome и Safari */
	-webkit-appearance: none;
	/* Убираем рамку в Chrome и Safari */
	width: 215px;
	/* Ширина поля */
	vertical-align: middle;
	/* Выравнивание по середине */
	height: 36px;
	background-color: #2e2e2e;
	color: #acacac;
	font-family: "AllerRegular";
	font-size: 12px;
	padding: 5px;
}
input[type="submit"] {
	width: 36px;
	/* Ширина кнопки */
	height: 36px;
	/* Высота кнопки */
	border: none;
	/* Убираем рамку */
	background: url(img/Arrow_Icon.png) no-repeat 50% 50%;
	/* Параметры фона */
	cursor: pointer;
}
.social {
	display: flex;
}
.social img {
	margin: 30px 5px;
}
.social img:last-child {
	margin-right: 0;
}
.footer_end {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #acacac;
	font-family: "AllerRegular";
	font-size: 12px;
}
.down_menu a {
	text-decoration: none;
	color: #acacac;
}
.sale {
	position: absolute;
	top: 0;
	left: 215px;
}
